<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khayegabanasthali">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food"
        android:label="BANASTHALI EATS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".history"></activity>
        <activity android:name=".last" />
        <activity android:name=".details" />
        <activity android:name=".edit" />
        <activity android:name=".cart" />
        <activity android:name=".profile" />
        <activity
            android:name=".sinup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mukki" />
        <activity android:name=".cant" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>